{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "<connection-string-storage-account>",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "AOAI_ENDPOINT": "https://aoai-mediasrl-productie.openai.azure.com/",
    "AOAI_DEPLOYMENT_NAME": "gpt4o",
    "LOG_ANALYTICS_WORKSPACE_ID": "<GUID-workspace-log-mediasrl-productie>",
    "EXPECTED_VMS": "vm-jmp-01,vm-web-01,vm-app-01,vm-cms-01,vm-db-01,vm-fs-01",
    "QUERY_WINDOW_MINUTES": "15"
  }
}
